html, body {
	box-sizing: border-box;
	height: 100%;
	font-family: sans-serif;
}

body {
	position: relative;
	width: 100vw;
	margin: 0;

	background: linear-gradient(to right, rgba(45,200,128,0.9), rgba(45,200,128,0.5), rgba(45,200,128,0.9));
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header, footer {
	/*height: auto;
	position: relative;*/
	width: 100%;
	background-color: #101010;
	color: white;
	text-transform: uppercase;
	font-size: 300%;
	font-weight: bold;
	font-family: "Trebuchet MS", "Segoe UI", "Tahoma", serif;
	/*reduce size, space between words*/
}

footer {
	margin-top: auto;
	flex-shrink: 0;
}

header div {
	display: inline-block;
	transform: translateY(-50%);
}

.text-center {
	text-align: center;
}

main {
	margin: 0 auto;
	line-height: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	background-color: #f2f3f6;
	height: 70%;
	width: 70%;
	text-align: left;
	border-radius: 1em;
	font-size: 1.7em;
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
} 

.container {
	width: 60vw;
}

@media only screen and (max-width: 887px) {
	div.container {
		width: 65vw;
	}

	main {
		height: 75%;
		width: 75%;
	}
}

.label {
	display: inline-block;
	color: #666;
}

.input-field {
	display: inline-block;
	position: relative;
	width: 30vw;
	float: right;
}

input {
	position: absolute;
	font-size: 0.7em;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid grey;
	width: 100%;
	outline: none;
	left: 0%;
	bottom: 35%;
}

.underline {
	display: block;
	position: absolute;
	bottom: 33%;
	width: 0;
	border-bottom: 2px solid blue;
	transition: all ease-out 200ms;
}

input:focus ~ .underline {
	width: 100%;
}

label.tooltip {
	position: absolute;
	bottom: 12%;
	color: #ccc;
	left: 0.1vw;
	font-size: 0.8em;
	cursor: text;
	transition: all ease 200ms;
}

input:valid ~ .tooltip, input:focus ~ .tooltip {
	color: blue;
	bottom: 50%;
	font-size: 0.6em;
}

select {
	font-size: 0.8em;
	background-color: unset;
	border: none;
	border-bottom: 1px solid grey;
	cursor: pointer;
	outline: none;
}

select:focus {
	border-bottom: 2px solid blue;
}

option
{
	font-family: Cambria, serif;
}